.container {
  background-color: #D3DEED;
  border: 1px solid #27466E;
  color: #27466E;
  height: 648px;
  margin: 20px auto;
  padding: 20px;
  width: 438px;
}

h1, form, #mouse {
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 29px;
  margin: 14px;
  margin-top: 20px;
}

.top {
  border: 5px solid #27466E;
  border-radius: 20px;
  height: 120px;
  margin: 20px auto;
  width: 370px;
}

#qr {
  margin: 60px 45px 140px 45px;
}
