<div class="container">
  <div class='top'>
    <h1>Create Your Order Code</h1>
    <p id='mouse'>mouse over here<p>
    <form id='get_code' action='/qr_code' method='post'>
      <label>Text: <input type='text' required name='text' placeholder='enter your text here'></label>
      <!-- <label>Pixels: <input type='text' required name='pixels' placeholder='enter your QR code size here'></label> -->
      <input type='submit' value='Submit!'>
    </form>
  </div>
  <div class='qr'></div>

</div>
