<div class="container">
  <h1>Generate Your Own QR Code</h1>
  
  <form id='get_code' action='/qr_code' method='post'>
    <label><input type='text' required name='text' placeholder='enter your text here'>Text: </label>
    <label><input type='text' required name='pixels' placeholder='enter your QR code size here'>Pixels: </label>
    <input type='submit' value='Submit!'>
  </form>

</div>
