<div class='container'>

  <div class='top'>
    <h1>Your Order Code</h1>
  </div>
  
  <div class='qr'>
    <img id='qr' src='<%= @qr_code %>'/>
  </div>

  <div class='link'>
    <a href='/'><button>Create New Order</button></a>
  </div>

</div>