<div class='container'>

  <div class='top'>
    <h1>Choose your restaurant:</h1>

    <form id="restaurant" action='/order' method='POST'>
      <select autofocus name='restaurant' onChange='this.form.submit()'>
        <option value='' selected disabled>choose:</option>
        <option value='Chipotle'>Chipotle</option>
      </select>
    </form>
  </div>

</div>